*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

[class*="col-"] {
  height: 300px;
  border: 1px solid black;
  background-color: lightcoral;
  text-align: center;
  line-height: 300px;

}
